[Definition]
loglevel = {{ fail2ban_loglevel  }}
logtarget = {{ fail2ban_logtarget }}
syslogsocket = {{ fail2ban_syslogsocket }}
socket = {{ fail2ban_socket }}
pidfile = {{ fail2ban_pidfile }}
dbfile = {{ fail2ban_dbfile }}
dbpurgeage = {{ fail2ban_dbpurgeage }}
